@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <h1>@Html.ActionLink("Ventas", "Index", "tbl_Ventas")</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p class="lead">Poder generar ventas de los clientes en donde se registren sus datos personales y el producto en el que están interesados.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <p><a href="tbl_Ventas/Index" class="btn btn-primary btn-lg">Ir &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>*@
        <h2>@Html.ActionLink("Aseguradoras", "Index", "tbl_Aseguradoras")</h2>
        <p>
            @*ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.*@
            La Agencia de seguros Falabella trabaja como intermediaria de seguros con otras compañías aseguradoras. Cada compañía ofrece productos con primas, coberturas y asistencias distintas.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        <p><a class="btn btn-default" href="tbl_Aseguradoras/Index">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2>Get more libraries</h2>*@
        <h2>@Html.ActionLink("Clientes", "Index", "tbl_Clientes")</h2>
        @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
        <p>Clientes en donde se registren sus datos personales</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        <p><a class="btn btn-default" href="tbl_Clientes/Index">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>*@
        <h2>@Html.ActionLink("Productos", "Index", "tbl_Productos")</h2>
        @*<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>*@
        <p>El producto en el que están interesados.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        <p><a class="btn btn-default" href="tbl_Productos/Index">Ir &raquo;</a></p>
    </div>
</div>