@{
    //ViewBag.Title = "About";
    ViewBag.Title = "Acerca de:";
    ViewBag.Message = " Página de descripción de su aplicación";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3><br /><br />

@*<p>Use this area to provide additional information.</p>*@
<p>
    <h2>Seguros Falabella<br /><br /><br /></h2>


    <h3>PRUEBA .NET<br /><br /></h3>

La Agencia de seguros Falabella trabaja como intermediaria de seguros con otras compañías aseguradoras. Cada compañía ofrece productos con primas, coberturas y asistencias distintas.

La gerencia comercial requiere un sistema integrado en donde pueda administrar las compañías aliadas y sus productos. Adicionalmente, los asesores de ventas requieren poder generar ventas de los clientes en donde se registren sus datos personales y el producto en el que están interesados.

De acuerdo con el requerimiento anterior, se debe crear un aplicativo web que cumpla con lo especificado.

Para la entrega, se deberá subir el código fuente a un repositorio Github, este debe incluir la solución y los scripts de base de datos que crea necesarios. Tendrá un plazo de un día, posterior a la entrega de esta prueba para subir el código y enviar a través de correo el link del repositorio.
</p>
