@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    @*425.555.0100*@3107760510
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    <strong>Soporte:</strong>   <a href="mailto:nestormauricio@live.com">NestorMauricio@live.com</a><br />
    <strong>Comercialización:</strong> <a href="mailto:nestormauricio@live.com">NestorMauricio@live.com</a><br />
</address>